@font-face {
  font-family: "ComicSans";
  src:
    local("Comic Sans MS"),
	local("Comic Sans"),
    url("https://lunariger.github.io/assets/fonts/comic_sans/comic.ttf") format('truetype')
}
body, nav li a, .holder, * {font-family: "ComicSans", sans-serif;}

body {margin:0;
background-image: linear-gradient(to right, forestgreen , dodgerblue);
}

ul:before{
    content:attr(aria-label);
    font-size:120%;
    font-weight:bold;
    margin-left:-15px;
}
ul.titled{
    list-style-type: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: dodgerblue;
  position: fixed;
  top: 0;
  width: 100%;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: darkblue;
}

.holder {
	padding:20px;
	margin-top:30px;
	text-align:center;
}
.active {
  background-color: skyblue;
}